* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --drop-blue-link: #005cff;
    --drop-blue: rgb(37 99 235);
    --drop-blue-500: rgb(59 130 246);
    --drop-blue-300: #b4d0e7;
    --drop-black: #000;
    --drop-white: #fff;
    --drop-gray: gray;
    --drop-viola: #46001a;
}

/* .debuge #plans{
    border: 1px dashed black;
} */

/* utilities */
.row {
    display: flex;
    margin: 0 -1rem;
}

.col{
    width: calc(100% / 5);
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.container {
    width: 70%;
}

.container-small {
    width: 60%;
}

.container,
.container-small {
    margin: 0 auto;
}


/* region header */
#app-header {
    padding: 1.7rem 3rem;
    background-color: var(--drop-white);

    .menu_left {
        gap: 1.6rem;

        a {
            padding-right: 1.6rem;
        }

        img {
            vertical-align: middle;
        }
    }

    .menu_rigth {
        a {
            padding-left: 1.6rem;
        }

        .bg_blue {
            background-color: var(--drop-blue);
            border: 1px solid transparent;
            padding: .3rem 1rem;
            margin-left: .5rem;
            color: var(--drop-white);
        }
    }

    a {
        text-decoration: none;
        color: var(--drop-black);
    }

    .bg_blue:hover {
        background-color: var(--drop-blue-500);
        transition: .7s;
    }

    a:hover {
        border-bottom: 1px solid black;
        padding-bottom: 1.6rem;
        box-shadow: 0 4px 2px -2px gray;
    }
}

/* region main */
#app-main {
    .jumbotron {
        background-color: var(--drop-blue-300);
        height: 640px;

        .jumbotron_title {
            text-align: start;
            padding: 2rem 0 1rem 0;
            font-weight: 800;
            font-size: 3rem;
        }

        .content_left {
            button {
                margin: 1rem 0;
                background-color: var(--drop-blue);
                padding: .4rem .6rem;
                border: 1px solid transparent;

                a:first-child {
                    text-decoration: none;
                    color: var(--drop-white);
                }
            }

            button:hover {
                background-color: var(--drop-blue-500);
                transition: .7s;
            }

            i {
                color: var(--drop-black);
                font-size: 3rem;
                padding-top: 3rem;
            }

            p {
                padding: 1rem 0;
            }
        }

        .content_rigth {
            img {
                width: 100%;
                padding-top: 1rem;
            }
        }
    }

    #plans {
        padding-top: 5rem;
        padding-bottom: 7rem;

        h2 {
            padding: 2rem 0;
            font-size: 2rem;
        }

        span {
            padding-right: 1.8rem;
        }

        .plans_card {
            padding-top: 3rem;
            gap: 2rem;
        }

        .card {
            border: 1px solid gray;

            .subtitle {
                font-size: 1.3rem;
                border-bottom: 1px solid grey;

                h5 {
                    text-align: center;
                    padding: .7rem;
                    font-weight: 400;

                    i {
                        padding-right: .4rem;
                    }
                }
            }

            .info {
                padding: 1.4rem 1rem;

                h3 {
                    padding: 1rem 0;
                }

                .month {
                    display: block;
                    padding: .3rem 0 2rem 0;
                    color: var(--drop-gray);
                }

                i {
                    padding-right: .4rem;
                }

                p {
                    padding-bottom: 1rem;
                }

                button {
                    margin: 1.5rem 0 1rem 0;
                    padding: .5rem;
                    width: 100%;
                    background-color: var(--drop-blue);

                    a {
                        text-decoration: none;
                        color: var(--drop-white);
                    }
                }

                button:hover {
                    background-color: var(--drop-blue-500);
                    transition: .7s;
                }

                a {
                    color: var(--drop-blue);
                }

                .bg_row {
                    height: 1px;
                    background-color: var(--drop-gray);
                    width: 3rem;
                }

                h4 {
                    padding: 2rem 0 1.3rem 0;
                }

                .plan_points {
                    padding-bottom: 4rem;

                    i {
                        color: var(--drop-blue-link);
                        font-weight: 800;
                    }
                }
            }
        }

        .enterprise {
            width: 100%;
            margin-top: 3rem;

            .enterprise_contact {
                padding: 2rem;

                span {
                    display: inline-block;
                    padding-top: 3rem;
                }

                h4 {
                    font-weight: 700;
                    font-size: 1.5rem;
                }

                p {
                    font-weight: 600;
                    padding-top: .6rem;
                }

                button {
                    border: 1px solid transparent;
                    background-color: var(--drop-blue);
                    padding: .5rem 2rem;
                    margin-top: .5rem;

                    a {
                        text-decoration: none;
                        color: var(--drop-white);
                    }
                }

                button:hover {
                    background-color: var(--drop-blue-500);
                }
            }
        }
    }

    #partners {
        .partners_content {
            gap: 3rem;

            .content_left {
                img {
                    width: 100%;
                }
            }

            .content_rigth {
                padding-top: 5rem;

                h3 {
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                p {
                    padding: .8rem 0;
                }

                span {
                    display: inline-block;
                    border: 1px solid var(--drop-black);
                    padding: .5rem;
                    margin-top: .8rem;
                    /* width: 40%; */
                    text-align: center;

                    a {
                        text-decoration: none;
                        color: var(--drop-black);
                    }
                }

                span:hover {
                    background-color: var(--drop-black);
                    color: white;
                    transition: .8s;
                }

                a:hover {
                    color: var(--drop-white);
                }
            }
        }
    }

    #operations {
        padding: 6rem 0;

        h2 {
            padding-bottom: 1rem;
            text-align: left;
        }

        .operations_card {
            flex-wrap: wrap;
            padding-top: 1rem;

            img {
                width: 100%;
            }

            h4 {
                font-weight: 700;
                font-size: 1.4rem;
            }

            .col-4 {
                /*  padding: 1rem; */
                padding-right: 2rem;
            }
        }
    }

    #teams {
        padding-top: 3rem;

        .team {
            h2 {
                font-size: 2rem;
                padding-bottom: 2rem;
            }

            a {
                color: var(--drop-blue-link);
            }
        }

        .logos {
            padding-top: 8rem;

            .logo_left {
                flex-wrap: wrap;
                background-color: #005cff;
                height: 200px;
            }

            .logo_center {
                background-color: aquamarine;
                height: 200px;
            }

            .logo_rigth {
                background-color: brown;
                height: 200px;
            }
        }
    }

    #call_to_action {
        background-color: var(--drop-blue-300);
        margin-bottom: 2rem;

        .content {
            padding: 5rem 0;
            margin: auto;
            justify-content: space-between;

            h2 {
                color: var(--drop-viola);
            }

            button {
                background-color: var(--drop-white);
                border: 1px solid transparent;
                padding: .4rem 2rem;
                align-items: center;

                a {
                    color: var(--drop-black);
                    text-decoration: none;
                }
            }
        }
    }

    #faq{
        .questions {
            h2 {
                padding-top: 3rem;
                border-bottom: 2px solid;
                padding-bottom: 1.5rem;
            }
            .question {
                border-bottom: 2px solid;
                padding-bottom: 1.3rem;
                padding-top: .8rem;
                p{
                    i {
                        display: inline-block;
                        padding-left: 350px;
                    }
                }
                .hidden{
                    display: none;
                }
            }
            .question:hover .hidden{
                display: block;
            }
        }
    }
}

#app-footer{
    background-color: var(--drop-black);
    margin-top: 5rem;
    padding-bottom: 1.5rem;
    .footer_info{
        padding: 4rem 0; 
        h5{
            font-size: 1.2rem;
            color: var(--drop-white);
            padding-bottom: 1rem;
        }
        nav{
            display: flex;
            flex-direction: column;
            a{
                text-decoration: none;
                color: var(--drop-white);
                padding-bottom: .4rem;
            }
        }
    }
    span{
        color: var(--drop-white);
        border-top: 1px solid var(--drop-white);
        padding-top: 1.5rem;
        .left{
            padding-right: .5rem;
        }
        .rigth{
            font-size: .8rem;
            padding-left: .1rem;
        }
    }
}






